.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
position: relative;
overflow: hidden;

}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem 10%;
  width: 100%;
  z-index: 1;
  position:sticky;
  top:0;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(0deg,hsla(0,0%,6%,0),#111);

}
.header-background{
   background-color: var(--primary-color);
   box-shadow: 0 1px 10px rgba(3, 63, 11, 0.254);
}
.header-scrolled{
  background-color: var(--primary-color);
  box-shadow: 0 2px 12px rgba(3, 63, 11, 0.587);

}
.menu-icon{
  display: none;


  
}
.mobile-menu{
  display: none;
}


.desktop-menu{
  display: flex;
  gap: 0.5rem;
}

.nav ul > li {
display: flex;
align-items: center;
  padding: 0.25rem 1rem;
  font-size: 1.2rem;
  font-weight: 900;
  color: #fff;
  border-radius: 2rem;
  transition: all 0.2s;

 
}
.nav ul > li:hover{
  background-color: #fff;
  transform: translateY(-0.25rem);
  color:var(--primary-color);

}
.logo {
transition: all 0.3s ease-in-out;
cursor: pointer;
margin-top: 0.5rem;
margin: 0.5 auto;

}
.footer{
  background: linear-gradient(180deg,hsla(0,0%,6%,0),#111);
}
.mobile-menu-scrolled{
  background-color:var(--primary-color);
}
@media (max-width:960px) {
  .header{
    margin: 0;
    padding: 0 15px;
    justify-content: space-between;
    height: 4rem;

  }
 .searchbar{
  zoom: 0.7;
  width:100;
 }
  .mobile-menu {
    display: block;
    margin-left: auto;
    background-color:var(--primary-text-color);
    padding:2rem 0.5rem 0.5rem 0.5rem;
    width: 10rem;
    z-index: 5;
    transition: 0.3s all;


  }
  .menu-icon{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: auto;
    color: #fff;

  }
  .close-icon{
    position: absolute;
    right:0.7rem;
    top:1rem;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    color:#fff;


  }
  .overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .desktop-menu{
    display: none;

  }
  .nav ul > li {
margin-bottom: 1rem;
background-color: transparent;

    }

  .logo {
    /* margin: 0 auto; */
    font-size: 0.9rem;
  }
}

.main {
  min-height: 80vh;
  text-align: center;
display: flex;
justify-content: flex-start;
  flex-direction: column;
  align-items: center;
width: 100%;

}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem 10%;
  background-color: var(--primary-color);
  width: 100%;
  margin-top: 3.5rem;
}

